

<app-hom3_nav></app-hom3_nav>

<!-- Our hostels are equipped with modern facilities, including spacious rooms, study areas, common rooms, and recreational facilities. We have dedicated staff to ensure that our hostels are well-maintained and that our students have everything they need to succeed. -->
<!-- <div class="para">AKS Hostel ,Triruchencode was starded under Arthi educational and charictable
  trust in the year 2001 by our founder Dr .Kiran and currently managed by our younger don of our
  founder &chairman,Thiru Dineshkumar.<span class="Dots">.....</span> <span class="more-text">The college maintains its reputation
      for high standards of the Hostel.The hostels being home away form home designed to be
      comfortable for studies and stay.</span> </div> -->
<!-- home3 component -->
<div class="about-us">

  <div class="about-para">
      <h2 id="welcome">Welcome, </h2>
      <div class="para">AKS Hostel ,Our hostels are equipped with modern facilities, including spacious rooms, study areas, common rooms, and recreational facilities. We have dedicated staff to ensure that our hostels are well-maintained and that our students have everything they need to succeed.<span class="Dots">.....</span> <span class="more-text">Here, you will find all the information you need about our college hostels and the services we offer. Our mission is to provide a safe, comfortable, and welcoming environment for our students to live and learn..</span> </div>

      <button class="butn" (click)="butn()">more about</button></div>
      <div class="para-imag"><img src="../../assets/image_joy2.jpg" alt="" width="60%"></div>

  </div>
<!-- footer  for home 3-->
  <app-home3_footer></app-home3_footer>
