<div class="footer">
  <div class="Footer-top">
    <div class="homelinks">
      <h3>Quick access</h3>
      <ul>
      <li>  <a id="about" href="#about">
        <i class="fa fa-arrow-right" aria-hidden="true"></i
        ><span>about us</span> </a
      ></li>
      <li> <a id="why" href="#why">
        <i class="fa fa-arrow-right" aria-hidden="true"></i
        ><span>why</span> </a
      ></li>
      <li> <a id="provide" href="#provide">
        <i class="fa fa-arrow-right" aria-hidden="true"></i
        ><span>provide</span> </a></li>
      <li>  <a id="contact" href="#contact us"
        ><i class="fa fa-arrow-right" aria-hidden="true"></i
        ><span>contact us</span>
      </a></li></ul>



    </div>

    <div class="address">
      <h3>Email us</h3>
      <br />
      <p>
        <i class="bx bx-envelope"></i> <span>akshostels@gmail.com</span>
      </p>
    </div>
    <div class="call">
      <h3>Office no</h3>
      <div class="call-number">
        <p><i class="bx bx-phone-call"></i>0440-87535</p>
        <p><i class="bx bx-phone-call"></i>0440-87535</p>
      </div>
    </div>
    <!-- </div> -->
    <div class="socialmedia">
      <h3>Follow us</h3>
      <i class="bx bxl-facebook bx-sm"></i>
      <i class="bx bxl-twitter bx-sm"></i>
      <i class="bx bxl-instagram bx-sm"></i>
      <i class="bx bxl-linkedin bx-sm"></i>
    </div>
  </div>
  <hr id="linefooder" />
  <div class="Low-FooterContent">
    <p>copyright&#169; All rights reserved 2022</p>
  </div>
</div>
