
            <div class="about-us">

              <div class="about-para">
                  <h2 id="welcome">welcome </h2>
                  <div class="para">AKS Hostel ,Triruchencode was starded under Arthi educational and charictable
                      trust in the year 2001 by our founder Dr .Kiran and currently managed by our younger don of our
                      founder &chairman,Thiru Dineshkumar.<span class="Dots">.....</span> <span class="more-text">The college maintains its reputation
                          for high standards of the Hostel.The hostels being home away form home designed to be
                          comfortable for studies and stay.</span> </div>

                  <button class="butn">more about</button></div>
                  <div class="para-imag"><img src="../../assets/campus1.jpeg" alt="" width="60%"></div>

              </div>
