<app-user-sidebar></app-user-sidebar>
<div class="home_content">
  <div class="text">Mess Menu</div>

  <div class="container">
    <div class="right">
      <img
        src="../../../../assets/—Pngtree—hand drawn boy holding suitcase_4028126.png"
        alt=""
      />
    </div>
    <div class="left">
      <div class="box">
        <h2>Morning</h2>
        <p>idly</p>
        <p>Pongal        </p>
        <!-- <p>Room Type:General room</p> -->
      </div>
      <div class="box2">
        <h2>Afternoon</h2>
     <p>sambar</p>
     <p>Rasam</p>
      </div>
      <div class="box3">
        <h2>Evening</h2>
        <p>vadai</p>
        <p>Samosa</p>
      </div>
      <div class="box4">
        <h2>Night</h2>
       <p>parota</p>
       <p>dosa</p>
      </div>
    </div>
  </div>
</div>
