<div class="menu" id="MondayMenu">
  <div class="menu-left">
    <div class="menulist morning_list">
      <h2>Morning</h2>
      <div class="food_list">
        <div class="foodOptn optnleft">
          <img src="dosa.jpg" alt="" />
          <p>dosa</p>
        </div>
        <div class="foodOptn optnright">
          <img src="idly.jpg" alt="" />
          <p>idly</p>
        </div>
      </div>
    </div>
    <div class="menulist afternoon_list">
      <h2>Evening</h2>
      <div class="food_list">
        <div class="foodOptn optnleft">
          <img src="tea 2.jpg" alt="" />
          <p>Tea</p>
        </div>
        <div class="foodOptn optnright">
          <img src="sundal.webp" alt="" />
          <p>Sundal</p>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-right">
    <div class="menulist snacks_list">
      <h2>Afternoon</h2>
      <div class="food_list">
        <div class="foodOptn optnleft">
          <img src="sambar2.jpg" alt="" />
          <p>Meal</p>
        </div>
        <div class="foodOptn optnright">
          <img src="poriyal.jpg" alt="" />
          <p>Poriyal</p>
        </div>
      </div>
    </div>
    <div class="menulist night_list">
      <h2>Night</h2>
      <div class="food_list">
        <div class="foodOptn optnleft">
          <img src="parota.jpg" alt="" />
          <p>Parota</p>
        </div>
        <div class="foodOptn optnright">
          <img src="chapathi.jpg" alt="" />
          <p>Chapathi</p>
        </div>
      </div>
    </div>
  </div>
</div>
