<app-SideBar></app-SideBar>
<div class="home_content">
  <div class="text"> Attendance Details</div>
  <!-- manageDetails -->
  <div class="manageDetails">
    <div class="viewDetails">
     <h1>View  Attendance List</h1>
     <i class='bx bx-user bx-md'></i>
     <p>Here you can see attendance details of the students </p>

     <button id="viewbtn" (click)="viewbtn()" >View </button>

    </div>
    <div class="updates">
        <h1>Updates Attendance List</h1>
        <i class='bx bx-cloud-upload bx-md' ></i>
        <p>Here you can see the update attendance details </p>

        <button id="update_btn" (click)="update_btn()"  >Updates </button>
    </div>
 </div>
 <!-- table_view -->
 <div class="table_view">



  <table id="table_view" >
    <tr>
     <th>S.No</th>
     <th>Name</th>

     <th>Phone Number</th>


     <th>Room Number</th>


     <th>Status</th>
    </tr>
    <!-- data 1 -->
    <tr *ngFor="let filled of feesstatus , index as i">
      <td >{{ i+1}} </td>
      <td>{{ filled.Name}}</td>

      <td>{{ filled.phone}}</td>

      <td>{{ filled.roomno}}</td>
      <td>{{ filled.status}}</td>



     </tr>



   </table> </div>


   <!-- fees_container -->
  <div class="fees_container" >
     <div class="fees_container_head">  <h2>Attendance</h2> </div>
     <br><br>
     <form [formGroup]="feesgrp" (submit)="attendance()">
      <div class="rightForm">
    <label for="">Name</label> <br>
    <input type="text" name="" id=""  placeholder="Name" formControlName="Name">
    <div *ngIf="feesgrp.controls['Name'].dirty" class="alert">
      <p *ngIf="feesgrp.controls['Name'].errors?.['required']">
        User Name should not be empty
      </p>
      <p *ngIf="feesgrp.controls['Name'].errors?.['pattern']">
        Enter proper user name
      </p>
    </div><br>



    <label for="">Phone Number</label> <br>
    <input
            type="text"
            placeholder="Mobile Number"
            formControlName="mobile"
            pattern="^[6-9]\d{9}$"
          />
          <div *ngIf="feesgrp.controls['mobile'].dirty" class="alert">
            <p *ngIf="feesgrp.controls['mobile'].errors?.['required']">
              Mobile Number should not be empty
            </p>
            <p *ngIf="feesgrp.controls['mobile'].errors?.['pattern']">
              Enter a valid mobile number
            </p>
          </div>  <br>
  </div>
  <div class="lesftForm">


    <label for="">Room no</label> <br>
    <input type="text" name="" id=""   placeholder="Room Number" formControlName="roomno">
    <div *ngIf="feesgrp.controls['roomno'].dirty" class="alert">
      <p *ngIf="feesgrp.controls['roomno'].errors?.['required']">
        Room Number should not be empty
      </p></div> <br>

    <div class="Fees status" >

    <label for="">Status</label> <br>
      <select name="" type="text" id="" formControlName="status">
      <option value=""disabled selected>status</option>
      <option value="present">present</option>
      <option value="Absent">Absent</option>
      <option value="Absent">Late</option>
    </select>

    </div>    </div>

          <div class="login-box">
            <button  [disabled]="feesgrp.invalid" >Submit</button>
          </div>
        </form>

      </div>




  </div>
  <br>
  <br>

