<app-hom3_nav></app-hom3_nav>
<br><br>
<div class="container">
<div class="img_container">
  <img src="../../assets/27560079.jpg" alt="">
</div>


<div class=" text_content">

  <h2>WELCOME TO AKS HOSTEL</h2>
  <br>
<p>AKS Hostel ,Triruchencode was starded under Arthi educational and charictable
trust in the year 2001 by our founder Dr .Kiran and currently managed by our younger don of our
founder &chairman,Thiru Dineshkumar.The college maintains its reputation
for high standards of the Hostel.The hostels being home away form home designed to be
comfortable for studies and stay.
</p>
<p> Lion  Dr .Kiran ’s astounding role in the field of education has earned him the title ‘KalviRathna’. His
love and affection towards fellow human beings has led him to the title ‘ManithaNeyar’, one who loves humanity.
He has been conferred with an Honorary Doctorate by the West University of USA, in respect of his exemplary
contribution to education. In respect of his noble services, he has been honoured by Arutselvar Dr.N.Mahalingam
with the title of ‘KonguNattuSadhanaiyalar’.
</p> <br>
</div>

<!-- AS AN INDUSTRIALIST LION.DR.K.S.R. IS THE FOUNDER DIRECTOR OF <br>
AKS Exports <br>
AKS Textile Mills Pvt. Ltd., <br>
AKS Benefit Fund Ltd., <br>
AKS Warping and Auto Sizing Mills., <br>
Sri  Hospital Pvt. Ltd. <br>
AKS  Hostal Pvt. Ltd. <br>
AKS  Educational Institutions. <br> -->

<h1 id="incharge_heading"> Incharge for our Hostel</h1>
<br>




  <div class="grid-incharge">
    <!-- room -->
    <div class="room">
      <div class="profilecard">
        <div class="topcard">
          <img src="../../assets/student-bedroom-.png" alt="">
        </div>
        <div class="middle">
          <div class="buttomcard">
            <img src="../../assets/images.png" alt="">
            <p id="name"> Arunkumar</p>
            <p> Room Incharge</p>
          </div>
          <div class="endcard">
            <div class="bin"><i class='bx bx-phone-call  bx-sm'></i></div>
            <div class="bin2"><i class='bx bx-message-rounded-dots bx-sm'></i></div>
            <div class="bin3"><i class='bx bx-envelope bx-sm'></i></div>

          </div>
        </div>
      </div>
    </div>
    <div class="mess-manager">

      <div class="profilecard">
        <div class="topcard">
          <img src="../../assets/infosectionpic2.svg" alt="">
        </div>
        <div class="middle">
          <div class="buttomcard">
            <img src="../../assets/images.png" alt="">
            <p id="name"> Sree ganesh</p>
            <p> Food Incharge</p>
          </div>
          <div class="endcard">
            <div class="bin"><i class='bx bx-phone-call  bx-sm'></i></div>
            <div class="bin2"><i class='bx bx-message-rounded-dots bx-sm'></i></div>
            <div class="bin3"><i class='bx bx-envelope bx-sm'></i></div>

          </div>
        </div>
      </div>
    </div>
    <div class="security-head">
      <div class="profilecard">
        <div class="topcard">
            <img src="../../assets/infosectionpic1.svg" alt="">
        </div>
        <div class="middle">
        <div class="buttomcard">
            <img src="../../assets/images.png" alt="">
            <p id="name"> Sethuragavan</p>
            <p> Security Incharge</p>
        </div>
        <div class="endcard">
            <div class="bin"><i class='bx bx-phone-call  bx-sm'></i></div>
            <div class="bin2"><i class='bx bx-message-rounded-dots bx-sm' ></i></div>
            <div class="bin3"><i class='bx bx-envelope bx-sm'></i></div>

        </div></div>
    </div>
    </div>

  </div>


 </div>


<br> <br> <br><br>
<div class="para">
  <ul>
    <li>  We are committed to providing a safe, comfortable, and inclusive living environment for all of our residents. Our hostel is designed to help students focus on their academic pursuits while also enjoying their college experience to the fullest.  <br>
    </li>
    <li>Our hostel features a range of amenities and services that are tailored to meet the needs of our residents. We have spacious and well-furnished rooms that provide a comfortable living space for our students. Each room is equipped with a study desk, chair, wardrobe, and a bed. <br>
    </li>
    <li>We also provide common areas where students can relax and socialize. Our common areas include a lounge area with comfortable seating, a television, and a pool table. We also have a study room where students can focus on their academic work. <br>
    </li>
    <li>Our hostel is equipped with high-speed internet access, which is available throughout the hostel. This allows our residents to stay connected with their friends and family, as well as to access online resources for their academic work. <br>
    </li>
    <li>We take the safety and security of our residents very seriously. Our hostel is equipped with CCTV cameras, and we have security personnel on duty round the clock. Our hostel also has a strict policy on visitors, ensuring that only authorized visitors are allowed into the hostel premises.  <br>
    </li>
    <li>Our hostel also offers a range of services to support our residents' needs. These include laundry services, housekeeping services, and maintenance services. We also have a dedicated hostel manager and a team of staff who are always available to provide assistance to our residents.  <br>
    </li>
    <li>At our hostel, we strive to create a community that fosters personal growth and development. We encourage our residents to participate in various extracurricular activities and events organized by the hostel. This provides an opportunity for our residents to interact with each other and develop lifelong friendships. <br>
    </li>
    <li>We are proud to provide a home away from home for our residents, and we look forward to welcoming you to our hostel!
    </li>
  </ul>



<br><br><br>
<br>









</div>
<!-- footer  for home 3-->
<app-home3_footer></app-home3_footer>
