<app-hom3_nav></app-hom3_nav>

<div class="fac-container">
  <div class="fac-room">
      <div class="room-col">
          <h3>World class facilities</h3>
          <h1>Best facilities with  <br> less prices</h1>
          <p>Cherish your hostel life with our hostels</p>
          <div class="contactUs">
              <button type="button">More Details</button>
          </div>
      </div>
      <div class="room-col2">
          <img src="../../assets/infosectionpic1.svg" alt="">
      </div>
  </div>

  <div class="fac-food">
      <div class="food-col2">
          <img src="../../assets/infosectionpic2.svg" alt="">
      </div>
      <div class="food-col">
          <h3>Best food</h3>
          <h1>Unlimited variety <br> of dishes</h1>
          <p>Taste dishes across the world</p>
          <div class="contactUs">
          <button type="button">More Details</button>
          </div>
      </div>
      <!-- play.jpg -->

  </div>
  <div class="fac-play">
      <div class="play-col">
          <h3>Health and Fitness</h3>
          <h1>Best facilities gym <br> and playground</h1>
          <p>Maintain your Health and Fitness</p>
          <div class="contactUs">
              <button type="button">More Details</button>
          </div>
      </div>
      <div class="room-col2">
          <img src="../../assets/play.jpg" alt="">
      </div>
  </div>
  <!-- <div class="fac-food">
    <div class="food-col2">
        <img src="../../assets/Physician Of Symbol As Vector Caduceus Doctors Clipart - Logo Doctor Vector Png, Transparent Png , Transparent Png Image - PNGitem.png" alt="">
    </div>
    <div class="food-col">
        <h3>Best Health care</h3>
        <h1> Doctor available <br> in  hostel</h1>
        <p>To make</p>
        <div class="contactUs">
        <button type="button">More Details</button>
        </div>
    </div>


</div> -->

  <div class="fac-other">
    <!-- <div class="other_facilities">
      <div class="right_img">
        <img src="../../assets/security-camera.png" alt="">
        <img src="../../assets/telephone-1.png" alt="">
      </div>
      <br>
      <div class="right_img">
        <img src="../../assets/generator.png" alt="">
        <img src="../../assets/doctor.png" alt="">
      </div>

    </div> -->
    <div class="room-camera">
      <img src="../../assets/s-camera.png" alt="">
  </div>
    <div class="food-col">
        <h3>Security facilties</h3>
        <h1> Highly securited <br>  hostel</h1>
        <p>24*7 CCTV facilties</p>
        <div class="contactUs">
        <button type="button">More Details</button>
        </div>
    </div>
    <!-- play.jpg -->

</div>


</div>
<br><br>
<br><br><br>

<!-- footer  for home 3-->
<app-home3_footer></app-home3_footer>
