<app-hom3_nav></app-hom3_nav>

<div class="fac-container">
  <div class="fac-room">
    <div class="room-col">
      <h3>World Class Facilities</h3>
      <h1>
        Best Facilities With <br />
        Less Prices
      </h1>
      <p>Cherish your hostel life with our hostel</p>
      <div class="contactUs">
        <button type="button">
          <a routerLink="/contactus" routerLinkActive="activebtn">
            Contact us</a
          >
        </button>
      </div>
    </div>
    <div class="room-col2">
      <img src="../../assets/infosectionpic1.svg" alt="" />
    </div>
  </div>

  <div class="fac-food">
    <div class="food-col2">
      <img src="../../assets/infosectionpic2.svg" alt="" />
    </div>
    <div class="food-col">
      <h3>Best Food</h3>
      <h1>
        Unlimited Variety <br />
        Of Dishes
      </h1>
      <p>Taste dishes across the world</p>
      <div class="contactUs">
        <button type="button">
          <a routerLink="/contactus" routerLinkActive="activebtn">
            Contact us</a
          >
        </button>
      </div>
    </div>
    <!-- play.jpg -->
  </div>
  <div class="fac-play">
    <div class="play-col">
      <h3>Health and Fitness</h3>
      <h1>
        Best Facilities Gym <br />
        And Playground
      </h1>
      <p>Maintain your health and fitness</p>
      <div class="contactUs">
        <button type="button">
          <a routerLink="/contactus" routerLinkActive="activebtn">
            Contact us</a
          >
        </button>
      </div>
    </div>
    <div class="room-col2">
      <img src="../../assets/play.jpg" alt="" />
    </div>
  </div>

  <div class="fac-other">
    <div class="room-camera">
      <img src="../../assets/s-camera.png" alt="" />
    </div>
    <div class="food-col">
      <h3>Security Facilties</h3>
      <h1>
        Highly Securited <br />
        Hostel
      </h1>
      <p>24*7 CCTV facilties</p>
      <div class="contactUs">
        <button type="button">
          <a routerLink="/contactus" routerLinkActive="activebtn">
            Contact us</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
<br /><br />
<br /><br /><br />

<!-- footer  for home 3-->
<app-home3_footer></app-home3_footer>
