
<app-SideBar></app-SideBar>
<div class="home_content">
  <div class="text"> Fees</div>
  <!-- manageDetails -->
  <div class="manageDetails">
    <div class="viewDetails">
     <h1>view  paid status</h1>
     <i class='bx bx-user bx-md'></i>
     <p>Here you can see fees Details of the student </p>

     <button id="viewbtn" (click)="viewbtn()" >view </button>

    </div>
    <div class="updates">
        <h1>updates paid status</h1>
        <i class='bx bx-cloud-upload bx-md' ></i>
        <p>Here you can see the update fees datails </p>

        <button id="update_btn" (click)="update_btn()"  >updates </button>
    </div>
 </div>
 <!-- table_view -->
 <div class="table_view">



  <table id="table_view" >
    <tr>
     <th>s.no</th>
     <th>Name</th>
     <th>Email id</th>
     <th>Phone number</th>

     <th>Register number</th>
     <th>Room Number</th>


     <th>staus</th>
    </tr>
    <!-- data 1 -->
    <tr *ngFor="let filled of feesstatus">
      <td >{{ filled.id}} </td>
      <td>{{ filled.Name}}</td>
      <td>{{ filled.email}}</td>
      <td>{{ filled.phone}}</td>
      <td>{{ filled.register}}</td>
      <td>{{ filled.roomno}}</td>
      <td>{{ filled.feesStatus}}</td>



     </tr>



   </table> </div>


   <!-- fees_container -->
  <div class="fees_container">
     <div class="fees_container_head">  <h2>Fees</h2> </div>
     <form [formGroup]="feesgrp" (submit)="feesform()">
      <div class="rightForm">
    <label for="">Name</label> <br>
    <input type="text" name="" id="" formControlName="Name">
    <div *ngIf="feesgrp.controls['Name'].dirty" class="alert" pattern="^[a-zA-Z]+$">
      <p *ngIf="feesgrp.controls['Name'].errors?.['required']">User name should not be Empty</p>
      <p *ngIf="feesgrp.controls['Name'].errors?.['pattern']">Enter proper User Name</p>
    </div>
    <br>

    <label for="">Email</label> <br>
    <input type="text" name="" id=""  formControlName="email"> <br>

    <label for="">Phone No</label> <br>
    <input type="number" name="" id=""  formControlName="phone" pattern="^[6-9]\d{9}$" >
    <div *ngIf="feesgrp.controls['phone'].dirty" class="alert">
      <p *ngIf="feesgrp.controls['phone'].errors?.['required']">Mobile Number should not be Empty</p>
      <p *ngIf="feesgrp.controls['phone'].errors?.['pattern']">Enter a valid Mobile Number</p>
    </div><br>
  </div>
  <div class="lesftForm">
    <label for="">Register no</label> <br>
    <input type="number" name="" id=""  formControlName="register" pattern="^[0-9]\d{6}$" >
    <div *ngIf="feesgrp.controls['register'].dirty" class="alert">
      <p *ngIf="feesgrp.controls['register'].errors?.['required']">User name should not be Empty</p>
      <p *ngIf="feesgrp.controls['register'].errors?.['pattern']">Enter proper User Name</p>
    </div> <br>

    <label for="">Room no</label> <br>
    <input type="number" name="" id=""  formControlName="roomno" pattern="^[0-9]\d{2}$" >
    <div *ngIf="feesgrp.controls['register'].dirty" class="alert">
      <p *ngIf="feesgrp.controls['register'].errors?.['required']">User name should not be Empty</p>
      <p *ngIf="feesgrp.controls['register'].errors?.['pattern']">Enter proper User Name</p>
    </div> <br>

    <div class="Fees status" >

    <label for="">Status</label> <br>
      <select name="" type="text" id="" formControlName="feesStatus">
      <option value=""disabled selected>status</option>
      <option value="paid">paid</option>
      <option value="unpaid">unpaid</option></select>

    </div>    </div>

          <div class="login-box">
            <button >submit</button>
          </div>
        </form>

      </div>




  </div>
  <br>
  <br>

