<footer>
  <div class="footer">

      <div class="Footer-top">

          <div class="homelinks">
              <h3>Links</h3>

              <a routerLink="/Home"><i class='bx bx-chevron-right'></i> <span>Home</span> </a><br>
               <a routerLink="/facilities" ><i class='bx bx-chevron-right'></i> <span>Facilities</span> </a><br>
               <a routerLink="/about"> <i class='bx bx-chevron-right'></i><span>About-us</span> </a><br>
               <a routerLink="/contactus" ><i class='bx bx-chevron-right'></i><span>contact us</span> </a>
          </div>
          <!-- <div class="contactfooter"> -->
              <div class="address">
              <h3>Email us</h3><br>
              <p><i class='bx bx-envelope'></i> &nbsp;akshostels@gmail.com </p></div>
             <div class="call">
               <h3>Office no</h3>
               <div class="call-number">
             <p><i class='bx bx-phone-call'></i> &nbsp; 0440-87535</p>
             <p><i class='bx bx-phone-call'></i>  &nbsp; 0440-87535</p></div></div>
          <!-- </div> -->
          <div class="socialmedia">
              <h3>Follow us</h3>
              <i class='bx bxl-facebook bx-sm' ></i>
              <i class='bx bxl-twitter bx-sm' ></i>
              <i class='bx bxl-instagram bx-sm' ></i>
              <i class='bx bxl-linkedin bx-sm' ></i>

          </div>
      </div>
      <hr id="linefooder" >
      <div class="Low-FooterContent">
           <p> copyright&#169; All rights reserved 2022 </p>
           <br> <br>

      </div>
  </div>
</footer>
