<app-SideBar></app-SideBar>
<div class="home_content">
  <div class="text">Rooms Details</div>
  <div class="manageDetails">
    <div class="viewDetails">
      <h1>Manage Rooms</h1>
      <i class="bx bx-home bx-md"></i>
      <p>Here you can manage room status</p>

      <button id="viewbtn" (click)="show_quries()">View</button>
    </div>
    <div class="updates">
      <h1>Room Queries</h1>
      <i class="bx bx-user-voice bx-md"></i>
      <p>Here you can see the queries of the rooms</p>

      <button id="update_btn" (click)="show_view()">View</button>
    </div>
  </div>
  <div class="Table_Info">
    <div class="table_view">
      <table id="table_view">
        <tr>

          <th>Name</th>


          <th>Phone Number</th>
          <th>Subject</th>

          <th>Reason</th>
          <th>Room Number</th>


          <th>Status</th>
        </tr>

        <tr  *ngFor="let eachData of messInfoData">
          <td>{{ eachData.namevalue}}</td>

          <td>{{ eachData.mobilevalue}}</td>
          <td>{{ eachData.Subject }}</td>
          <td>{{ eachData.Reason}}</td>
          <td>{{ eachData.RoomNo }}</td>

 <button id="solve" (click)="deletedata(eachData.id)">Solved</button>
        </tr>
      </table>
    </div>
    <div class="table_updates">
      <div class="update_container_head">Room Updation</div>
      <!-- addRoom -->
      <div class="addRoom">
        <form id="available_room" [formGroup]="addRoom" (ngSubmit)="addroominfo()">
          <label for="">Add New Room:</label> &nbsp;
          <input type="text" formControlName="RoomNo" name="" id=""  pattern="^[ 0-1]\d{2}$" />


          <button id="addRoomSubmit" [disabled]="addRoom.invalid"> Add</button>

        </form>
        <button id="AddBtnDelete" (click)="deleteDataAvail()">Delete</button>
        <div *ngIf="addRoom.controls['RoomNo'].dirty" class="alert">
          <p
            *ngIf="addRoom.controls['RoomNo'].errors?.['required']"
          >
         Room Number should not be Empty
          </p>
          <p *ngIf="addRoom.controls['RoomNo'].errors?.['pattern']">
           valid Room Number
          </p>
        </div>
      </div>

      <table id="roomTable">
        <tr>
          <th>S.No</th>
          <th>Room Number</th>

        </tr>
        <tr *ngFor="let eachData of userdata">
          <td >{{eachData.id}} </td>
          <td>{{eachData.RoomNo}}</td>


         </tr>
      </table>
      <div class="UpdateRoom">

        <form action="" [formGroup]="removeroom" (ngSubmit)="roominfo()" >
          <!-- (ngSubmit)="roominfo()" -->
        <h2></h2>

          <label for="">Room Number :</label>&nbsp;
          <input type="text" formControlName="RoomNo" name="" id="" pattern="^[ 0-1]\d{2}$" />   <label for="">Status :</label>&nbsp;
          <input type="text" formControlName="RoomStatus" name="" id="" />

          <button  id="removeSumbitBtn" [disabled]="removeroom.invalid">Submit</button>

        </form>
        <button id="removeBtnDelete" (click)="deleteData()">Delete</button>
        <div *ngIf="removeroom.controls['RoomNo'].dirty" class="alert">
          <p
            *ngIf="removeroom.controls['RoomNo'].errors?.['required']"
          >
         Room Numbert should not be Empty
          </p>
          <p *ngIf="removeroom.controls['RoomNo'].errors?.['pattern']">
           valid Room Number
          </p>
        </div>
        <!-- Text -->
        <div *ngIf="removeroom.controls['RoomStatus'].dirty" class="alert">
          <p
            *ngIf="removeroom.controls['RoomStatus'].errors?.['required']"
          >
         Room Status should not be Empty
          </p>

        </div>

      <table id="DeactiveRoom">
        <tr>
          <th>S.No</th>
          <th>Room Number</th>
          <th>Room Status</th>
          </tr>
          <tr *ngFor="let filled of roomdata">
            <td >{{ filled.id}} </td>
            <td>{{ filled.RoomNo}}</td>
            <td>{{ filled.RoomStatus}}</td>



           </tr>

      </table>
      <br><br>
    </div>


    </div>
  </div>
  <br><br><br>
</div>
