<!-- <p>
  Room no:001 <br>






  <br>
  room incharge:kiran
  phone no:9098909890
  <br>
  hostel incharge:sree ganesh <br>
  phone no:9098909890 <br>
  room facilities</p>

  <p>light</p>
  <p>Fan</p>
  <p>charging port</p>
  <p>luggage rack</p> -->
  <div class="box">
    <h2>  Room no</h2>
    <p>001 </p>
    <p>Room Type:General room</p>

  </div>
  <div class="box2">
    <h2>students in room:</h2>
    <ul>
      <li> arunkumar</li>
    <li>  subramani</li>
    <li> viper</li>
    <li>  hari</li>
  </ul>
  </div>


