<app-user-sidebar></app-user-sidebar>
<div class="home_content">
  <div class="text">Your Room</div>
  <div class="container">
    <div class="right">
      <img
        src="../../../../assets/—Pngtree—hand drawn boy holding suitcase_4028126.png"
        alt=""
      />
    </div>
    <div class="left">
      <div class="box">
        <h2>Room</h2>
        <p>Room no:{{Room}}</p>
        <p>Name :{{Name}}</p>
        <p>Room Type:General room</p>
      </div>

      <div class="box3">
        <h2>Amenities</h2>
        <p>Bed:4</p>
        <p>Light:2</p>
        <p>Fan:1</p>
        <p>Switch Box:2</p>
        <p>Rack</p>
      </div>
    </div>
  </div>
</div>
