
<div class="home_content">
  <div class="text">Mess</div>
  <div class="room-detail">

      <div class="top1 new-room">
          <h1>Mess Menu</h1>
          <p> you can see the your menu details</p>
          <i class="fa fa-user fa-3x" aria-hidden="true"></i><br>
          <a routerLink="/Mess-menu"><button type="submit" id="detail_btn">My room</button></a>
          <router-outlet></router-outlet>

      </div>
      <div class="top1 your-room">
          <h1>Mess Timming</h1>
          <p>  you can see the your mess Timming</p>
          <i class="fa fa-search fa-3x" aria-hidden="true"></i><br>

          <a routerLink="/mess-time"><button type="submit" id="detail_btn">My room</button></a>
          <router-outlet></router-outlet>
      </div>
  </div>
  <div class="form">
      <div class="left">
          <h1>Query Box</h1>
          <p>You can Mention your Query in here.</p>
          <img src="../../../assets/post.jpg" alt="" width="300px" height="300px">
      </div>
      <div class="room-quries">
          <input type="text" placeholder="Room Number"><br>
          <input type="text" placeholder="Name"><br>
          <input type="text" placeholder="Phone Number"><br>
          <input type="text" placeholder="subject"><br>
          <input type="textarea" placeholder="Problem"><br>
          <button id="submitbtn" type="submit">submi</button>
      </div>
  </div>
</div>
