
<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <div class="logo_name">Aks Hostel</div>
    </div>
    <i class="bx bx-menu" id="btn" (click)="openSideBar()" ></i>
  </div>
  <ul class="nav_list">

    <li>
      <a routerLink="/dash" routerLinkActive="activebtn">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name"> Dashboard </span>
      </a>
    </li>
    <li>
      <a routerLink="/Profile" routerLinkActive="activebtn">
        <i class="bx bx-user"></i>
        <span class="links_name">Profile</span>
      </a>
    </li>
    <li>
      <a routerLink="/Room" routerLinkActive="activebtn">
        <i class="bx bx-home-smile"></i>
        <span class="links_name">Room</span>
      </a>
    </li>
    <li>
      <a routerLink="/Fees" routerLinkActive="activebtn">
        <i class="bx bx-credit-card"></i>

        <span class="links_name">Fees</span>
      </a>
    </li>
    <li>
      <a routerLink="/admincret" routerLinkActive="activebtn">
        <i class="bx bx-transfer-alt"></i>
        <span class="links_name">login credentials</span>
      </a>
    </li>


    <li>
      <a routerLink="/vacate" routerLinkActive="activebtn">
        <i class='bx bx-building-house'></i>

        <span class="links_name">vacate</span>
      </a>
    </li>


    <li>
      <a routerLink="/leaveform" routerLinkActive="activebtn">
        <i class="bx bx-spreadsheet"></i>
        <span class="links_name">Leave Form</span>
      </a>
    </li>
    <li>
      <a routerLink="/Mess" routerLinkActive="activebtn">
        <i class="bx bx-food-menu"></i>
        <span class="links_name">Mess</span>
      </a>
    </li>
    <li>
      <a routerLink="/log out" routerLinkActive="activebtn">
        <i class="bx bx-log-out-circle"></i>
        <span class="links_name">log out</span>
      </a>
    </li>
  </ul>
</div>
<!-- <i class='bx bx-universal-access'></i> -->
