<app-user-sidebar></app-user-sidebar>
<div class="home_content">
  <div class="text">Holiday Deatils</div>
<div class="container">
  <div class="lContainer">
    <img src="../../../../assets/To do list Customizable Flat Illustrations _ Rafiki Style.png" alt="">
  </div>
<div class="Rcontainer">
  <div class="Rightcontainer" *ngFor="let eachData of  holiday">

    <div class="head"><h2>{{ eachData.Event }}</h2></div>
    <div class="body">
      <p>Event:{{ eachData.Event }}</p>
      <p>From:{{ eachData.From }}</p>
      <p>To:{{ eachData.To}}</p>

    </div>
    <div class="bottom">
      <p>description:{{ eachData.description }}</p>
    </div>
  </div>
</div></div>
</div>
