<app-user-sidebar></app-user-sidebar>
<div class="home_content">
  <div class="text">Holiday Deatils</div>
<div class="container">
  <div class="lContainer">
    <img src="../../../../assets/To do list Customizable Flat Illustrations _ Rafiki Style.png" alt="">
  </div>
<div class="Rcontainer">
  <div class="Rightcontainer" *ngFor="let eachData of  holiday">

    <div class="head"><h2>{{ eachData.Event }}</h2></div>
    <div class="body">
      <p>Event:&nbsp;{{ eachData.Event }}</p><br>
      <p>From:&nbsp;{{ eachData.From }}</p><br>
      <p>To:&nbsp;{{ eachData.To}}</p><br>

    </div>
    <div class="bottom">
      <p>
        Description:&nbsp;{{ eachData.description }}</p>
      <br><br>
    </div>
  </div>
</div></div>
</div>
