
<app-user-sidebar></app-user-sidebar>
<div class="home_content">
  <div class="text">Mess Timming</div>
  <div class="top">
    <div class="left-top">
      <img src="../../../../assets/Time.png" alt="">
    </div>
    <div class="right-top">
      <h1>Time</h1>
<br>
      <p id="heading">Morning</p>

      <p id="time">8:30 to 9:30</p>
      <p id="heading">Afternoon</p>
      <p id="time">12:30 to 1:45</p>
      <p id="heading">Eveing</p>

      <p id="time" >4:30 to 5:00</p>
      <p id="heading">Night</p>

      <p id="time">9:00 to 10:00</p>
    </div>
  </div>


</div>

