
<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <div class="logo_name">Aks Hostel</div>
    </div>
    <i class="bx bx-menu" id="btn" (click)="openSideBar()" ></i>
  </div>
  <ul class="nav_list">

    <li>
      <a class="on_dash" routerLink="/Dashboard-user" routerLinkActive="activebtn">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name"> Dashboard </span>
      </a>
    </li>
    <li>
      <a routerLink="/Profile-user" routerLinkActive="activebtn">
        <i class="bx bx-user"></i>
        <span class="links_name">Profile</span>
      </a>
    </li>
    <li>
      <a routerLink="/Room-user" routerLinkActive="activebtn">
        <i class="bx bx-home-smile"></i>
        <span class="links_name">Room</span>
      </a>
    </li>
    <li>
      <a routerLink="/Fees-user" routerLinkActive="activebtn">
        <i class="bx bx-credit-card"></i>

        <span class="links_name">Fees</span>
      </a>
    </li>
    <li>
      <a routerLink="/leaveform-user" routerLinkActive="activebtn">
        <i class="bx bx-spreadsheet"></i>
        <span class="links_name">Leave Form</span>
      </a>
    </li>
    <li>
      <a routerLink="/Mess-user" routerLinkActive="activebtn">
        <i class="bx bx-food-menu"></i>
        <span class="links_name">Mess</span>
      </a>
    </li>
    <li>
      <a routerLink="/log out" routerLinkActive="activebtn">
        <i class="bx bx-log-out-circle"></i>
        <span class="links_name">log out</span>
      </a>
    </li>
  </ul>
</div>
