<app-user-sidebar></app-user-sidebar>
<div class="home_content">
  <div class="text">Profile</div>
  <div class="container">
 <p> <strong>Name</strong> <span>{{Name}}</span>  </p>
 <p> <strong>Register number</strong>  <span>{{ Register}}</span> </p>
 <p><strong>Age:</strong>  <span>{{ Age}}</span> </p>
 <p><strong>Email Id:</strong> <span>{{email}}</span> </p>
 <p><strong>phone no:</strong>  <span> {{ phone}}</span> </p>
 <p> <strong>Father Name:</strong><span>{{Father }}</span>  </p>
 <p> <strong>Mother Name:</strong>  <span>{{Mother}}</span></p>
 <p> <strong>Address:</strong> <span>{{Address }}</span>  </p>

 <p> <strong>college Name:</strong>  <span>{{college }}</span> </p>
 <p> <strong>Adharnumber:</strong>  <span>{{Adharnumber }}</span> </p>
 <p>  <strong>Room no:</strong>  <span> {{Room}}</span></p>

</div>


</div>

