
.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  background: var(--sky-color);
  padding: 20px;

  transition: all 0.5s ease;
} */

.sidebar.active~.home_content {
  z-index: 100;

  left: 200px;
}



.home_content .text {
  font-size: 25px;
  font-weight: 600;
  color: var(--light-black);
  margin-bottom: 15px;
}


form
{
  margin-left: 20%;
}
input
{
  width: 20%;
  height: 40%;
}
.form_grid
{
display: grid;
grid-template-columns: 20%  50%;
padding: 1%;
}
.form_grid input{
  padding: 3%;
  width: 50%;
  margin-right: 80%;
  background-color: rgb(145, 145, 202);
  font-size: 15px;
  border-radius: 5px;
}
.form_grid p{
  padding: 3%;
font-size: 20px;
  margin-left: 30%;
}
button
{
  font-size: 15px;
  border-radius: 5px;
  margin-left: 30%;
padding: 5px;
background-color: rgb(145, 145, 202);

}
